{
  "TOKEN": "MTI0NzI3MTk0NDg4NjI5MjUwMA.Gi8m6v.06nLupiPTOfEF-gv-Wpdv41VUhtgqrMWbOXzd0",
  "MAX_PLAYLIST_SIZE": 10,
  "PRUNING": false,
  "LOCALE": "id",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100,
  "INVIDIOUS_BASE_URL": "https://yewtu.be",
  "USE_INVIDIOUS_PROXY": false
}
