{
  "TOKEN": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PRUNING": false,
  "LOCALE": "id",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100,
  "INVIDIOUS_BASE_URL": "https://yewtu.be",
  "USE_INVIDIOUS_PROXY": false
}
